{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <h1>{% if "/edit/" in request.path %}
    Редактировать запись {{ form.instance.pk }}
  {% else %}
    Создать запись
  {% endif %}</h1>
  <div class="card col-4">
    <div class="card-header">
      Калькулятор ожидания дня рождения
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Отправить" %}
      </form>
    </div>
  </div>
{% endblock %}